{% load i18n extra_tags email_tags %}

{% declare %}
    prefix = settings.EMAIL_SUBJECT_PREFIX
    app_name = settings.APP_SHORT_NAME

    exclude_greeting = True
    exclude_finetune = True
{% enddeclare %}

{% email %}
    {% subject %}{% blocktrans %}{{ prefix }} Welcome to {{ app_name }}{% endblocktrans %}{% endsubject %}

    {% htmlcontent notifications/base.html %}
        <p style="{{ p_style }}">
            {% blocktrans %}Welcome to {{ app_name }} to solicit information on other areas/products/components/modules, owned by Genesys.
This is primarily a knowledge sharing system, which can be leveraged by anybody within our organization. It functions in a way that system notifies the owner of the area whenever a new query is posted in the system.if this initiative needs to successful, a proactive and prompt engagement by all in our organization is a MUST.
{% endblocktrans %}
        </p>
        <p style="{{ p_style }}">{% trans "The following link will help us verify your email address:" %}</p>

        <p style="{{ p_style }}"><a  style="{{ a_style }}" href="{% fullurl "auth_validate_email" user=recipient.id code=validation_code %}">{% trans "Validate my email address" %}</a></p>

        <p style="{{ p_style }}">{% trans "If the above link is not clickable, copy and paste this url into your web browser's address bar:" %}</p>

        <p style="{{ p_style }}">{% fullurl "auth_validate_email" user=recipient.id code=validation_code %}</p>
    {% endhtmlcontent %}

{% textcontent notifications/base_text.html %}
{% blocktrans %}Welcome to Ask-Genesys to solicit information on other areas/products/components/modules, owned by Genesys.
This is primarily a knowledge sharing system, which can be leveraged by anybody within our organization. It functions in a way that system notifies the owner of the area whenever a new query is posted in the system.if this initiative needs to successful, a proactive and prompt engagement by all in our organization is a MUST.{% endblocktrans %}

{% trans "Copy and paste this url into your web browser's address bar to help us verify your email address:" %}

{% fullurl "auth_validate_email" user=recipient.id code=validation_code %}
{% endtextcontent %}

{% endemail %}

